@model ChurchApp.Models.User

@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content">
    <div class="card">
        <div class="card-header">
            <div>
                <a class="btn btn-info" asp-action="ViewUsers">Back to List</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header">
                Add User
            </div>

            <div class="card-body">
                <form asp-action="AddUser">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label for="IdMember" class="control-label">Linked Member</label>
                        <select asp-for="IdMember" class="form-control select2" asp-items="ViewBag.IdMember"></select>
                    </div> 
                    
                    <div class="form-group">
                        <label for="IdProfil" class="control-label">User Profil</label>
                        <select name="IdProfil" class="form-control" asp-items="ViewBag.IdProfil"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label"></label>
                        <input asp-for="Username" class="form-control" />
                        <span asp-validation-for="Username" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>




@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
